# Build
*.class
out/
output/
bin/
build/

# IDE
.idea/
.idea_modules/
*.iml
modules.xml
.vscode/
.history/
.history

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*-eps-converted-to.pdf

# --- macOS ---
.DS_Store
